h1 {
    background-color: mediumSeaGreen;
    padding: 70px;
    bolder: 4px solid black
}

.fs-container {
    width: 800px;
    margin: auto;
}

.literally {
    width: 100%;
    height: 100%;
    position: relative;
}

.background {
    background-color:rgba(199,200,197,0.6)
}