{%  extends 'layout.html' %} <!-- extends the default layout page -->


    <!-- content specific to this page's body -->
    {% block body %}

        <h1 style= "text-align:center; color:blue"title= "Ernest, Sugar, Medwards, David, Markis, Nicholas"><ins> WELCOME TO DRAW AND GUESS</ins></h1>
        <h2 style= "color:blue;font-family: courier" title="explanation"> Application Specifications</h2>

        <p>
            -User should be able to draw any shape<br>
            -User should be able to navigate easily through web application<br>
            -Draw and Guess should correctly state the shape that is drawn<br>
            -Draw and Guess should learn various shapes over continuous usage

        </p>
{#        <a href= "table.html" target="_self"></a>#}

            <!-- canvas -->
                <link href="../static/_assets/literallycanvas.css" rel="stylesheet">

                <!-- todo configure the tools available in the canvas -->


                <div class="fs-container">
                    <div id="lc"></div>

                    <script src="../static/_js_libs/react-0.14.3.js"></script>
                    <script src="../static/_js_libs/literallycanvas.js"></script>
                    <script src="../static/canvas_module.js"></script>
                </div>
                 <!-- canvas object output - for dev purposes until db routing is configured -->
                <div>
                    <button onclick="jsonify()">JSONify</button>
                </div>
                <div id="output"></div>

{#        <button onclick="document.getElementById('demo').innerHTML= 'Drawing is fun'"> Open</button>#}

        <address>Contact:<br>
        Ernest<br> Sugar <br>Medwards<br> David<br> Markis<br> Nicholas <br>Java/html/javaScript programmer<br> University of Maryland<br> Maryland<br> USA</address>
        <a href= "html_table.asp" style="text-align:center" target="_self">www.menasu.com</a>

{%  endblock %}