<!DOCTYPE html>
<html>
<head>
<style>
h1 {background-color: mediumSeaGreen;
padding: 70px;
bolder: 4px solid black

}

</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="item"style= "text-align:center; background-color:dodgerBlue">
  <a href="#home" class="item">Home</a>
  <a href="#shapes" class="item">Shapes</a>
  <a href="#contact" class="item">Contact</a>
</nav>
<p id="t"></p>

<script >
document.getElementById("t").innerHTML = new Date();
</script>
<p style= "text-align:right"><a href="#c">Go to the drawing canvas</a></p>
</head>
<title> CMSC 495_Draw_and_Guess Project</title>
<h1 style= "text-align:center; color:blue"title= "Ernest, Sugar, Medwards, David, Markis, Nicholas"><ins> WELCOME TO DRAW AND GUESS</ins></h1>
<h2 style= "color:blue;font-family: courier" title="explanation"> Application Specifications</h2>
</head>
<p>

-User should be able to draw any shape<br> -User should be able to navigate easily through web application<br> -Draw
 and Guess should correctly state the shape that is drawn<br>-Draw and Guess should learn various shapes over continuous usage</p>
<hr>
<body style= "background-color:rgba(199,200,197,0.6)">
<a href= "table.html" target="_self"></a>
<h id="c">Notice</h>
<p style= "background-color: lightblue;color:red;text-align:left; padding: 90px; border: 7px solid blue; font-size: 30px" title=" Medwards please insert the drawing canvas here", >
 The drawing canvas goes here</p>
 <p id="demo" style= "text-align:right">browse</p>
<button
onclick="document.getElementById('demo').innerHTML= 'Drawing is fun'"> Open</button>
<address>Contact:<br>
Ernest<br> Sugar <br>Medwards<br> David<br> Markis<br> Nicholas <br>Java/html/javaScript programmer<br> University of Maryland<br> Maryland<br> USA</address>
<a href= "html_table.asp" style="text-align:center" target="_self">www.menasu.com</a>
</body>
</html>