{% extends 'layout.html' %} <!-- extends the default layout page -->

<!-- content specific to this page's body -->
{% block body %}
    <div class="jumbotron jumbotron">
        <h1 style="text-align:center; color:blue" title="Ernest, Sugar, Medwards, David, Markis, Nicholas">
            <ins> WELCOME TO DRAW AND GUESS</ins>
        </h1>
    </div>

    <h2 style="color:blue;font-family: courier" title="explanation"> Application Specifications</h2>

    <p>
        -User should be able to draw any shape<br>
        -User should be able to navigate easily through web application<br>
        -Draw and Guess should correctly state the shape that is drawn<br>
        -Draw and Guess should learn various shapes over continuous usage

    <!---Canvas -->
    <!-- TODO restrict canvas dimensions -->
{#    <div class="fs-container">#}
        <div class="class=cover-container d-flex h-100 p-3 mx-auto flex-column" id="lc" style="width:512px; height: 512px"></div>
        <link href="../static/_assets/literallycanvas.css" rel="stylesheet">
        <script src="../static/_js_libs/literallycanvas.js"></script>
        <script src="../static/canvas_module.js"></script>
{#    </div>#}

    <!-- Buttons -->
    <div>
        <button id="clear" class="btn btn-sm btn-outline-secondary" onclick="lc.clear()">Clear</button>
        <button id="submit" class="btn btn-primary my-2">Guess!</button>
    </div>

    <!-- Guess Result -->
    <h2>Data Output:</h2>

    <div id="output"></div> <!-- for dev only -->

    <div id="guess"></div>

{% endblock %}