<!--
This acts as a layout for any pages to standardized common elements across the site
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> CMSC 495_Draw_and_Guess Project</title>

        <link href="../static/_assets/literallycanvas.css" rel="stylesheet">


        <nav class="item"style= "text-align:center; background-color:dodgerBlue">
            <a href="#home" class="item">Home</a>
            <a href="#shapes" class="item">Shapes</a>
            <a href="#contact" class="item">Contact</a>
        </nav>

        <p id="t"></p>

        <script >
            document.getElementById("t").innerHTML = new Date();
        </script>

        <p style= "text-align:right"><a href="#c">Go to the drawing canvas</a></p>
    </head>
    <body class="background">
        {% block body %} {% endblock %}
    </body>
</html>